div.calculadora-ims {
    border: 1px #000 solid;
    min-height: 120px;
    margin: 40px 30px 30px 30px;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    text-align: center;
    background-color: rgba(190, 24, 21, 0.637);
    color: #fff;
}

table {
    width: 100%;
    margin: auto;
}

th {
    background-color: #9da39d3b;
    color: #000;
}

th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td.Sobrepeso{
    color: rgb(158, 7, 7);
}

span {
    margin: auto;
    color: rgb(51, 51, 53);
    font-weight: lighter;
}

input {
    margin-inline: 5px;
    margin-block-end: 10px;
    background-color: rgba(154, 240, 233, 0.137);
}

img{
    max-width: 480px;
    width: auto;
    height: auto;
    object-fit: fill;
}

